{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block script %}
{% endblock %}

{% block main %}
          <div class="strokeme">
            <img src = "static/images/website/screencap.png" alt="Bootstrap" width="1281" height="800" style="max-width:100%; height:auto;">
            <p>
              <h1><span class="blue">Case</span><span class="red">Maker</span></h1>
            </p>
            <div>
              <button class="btn btn-primary btn-large" style="background-color: red;">
                <a class="nav-link" href="/create">Create!</a>
              </button>
            </div>
            <p id = "q1"></p>
          </div>
{% endblock %}